

.maclasse {

    width:80%;
    height:200px;
    margin:20px auto;
    
    }
    
    #one {
    
        background-color: red;
        
    }
    
    #two {
    
        background-color: green;
    }
    
    #three {
    
        background-color: purple;
    }
    
    #four {
    
        background-color: brown;
    }

   #five {

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

    
   }

   #six {

    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

   }

   #seven {

    background: linear-gradient(349deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
   }

   #sectionimage {

    text-align:center;
   }



   /**** FLEXBOX POUR LES DIV HSL ****/

  .flexbox {

    display: flex;
    align-items: center;
    justify-content: center;
  }

  div {

    width: 300px;
    height: 100px;

  }

  #hsl1 {

    background-color: hsl(14, 76%, 55%);


  }

  #hsl2 {

    background-color:hsl(14, 76%, 35%);


  }

  #hsl3 {

    background-color: hsl(14, 76%, 75%);
  }

  #hsl4 {

    background-color:hsl(14, 76%, 55%);
    
    
}
    
#hsl5 {
    
        background-color:hsl(194, 76%, 55%);
    
    
}
    
#hsl6 {
    
        background-color: hsl(374, 76%, 55%);
      };


  

  #hsl7 {

    background-color:hsl(14, 76%, 35%);


  }

  #hsl8 {

    background-color: hsl(14, 76%, 75%);
  }


    