* {


    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


body {

    font-size: 15px;
}

#schema {

    width:80%;
    height:auto;
    margin:20px auto;
}

#schema img {

    width:auto;
    height:800px;
    object-fit: cover;

}

.conteneur-grid {


    display: grid;

    grid-template-columns: repeat(3, 1fr);
    /* vous pouvez simplifier cette propriété en grid-template-columns: 1fr 1fr 1fr;*/
    /* essayez avec des pixels 140px 190px 1fr;*/
    grid-template-rows: repeat(3, 1fr);
    /* vous pouvez simplifier cette propriété en grid-template-rows: 1fr 1fr 1fr;*/

    /* vous pouvez simplifier ces 2 proprietés en grid-gap: 5px;*/
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: auto;
    height: 500px;
    width: 700px;
}

.conteneur-grid div {
    padding: 20px 0px;
    background-color: gold;
    border: 2px solid RGB(120, 40, 160);
}


.conteneur-grid-deux {


    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    /* vous pouvez simplifier cette propriété en grid-template-columns: 1fr 1fr 1fr;*/

    grid-template-rows: repeat(3, 1fr);
    /* vous pouvez simplifier cette propriété en grid-template-rows: 1fr 1fr 1fr;*/

    /* vous pouvez simplifier ces 2 proprietés en grid-gap: 5px;*/
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: auto;
    height: 500px;
    width: 700px;
}

.conteneur-grid-deux div {
    padding: 20px 0px;
    background-color: gold;
    border: 2px solid RGB(120, 40, 160);
}

.conteneur-grid-trois {


    display: grid;

    grid-template-columns: repeat(3, 1fr);
    /* vous pouvez simplifier cette propriété en grid-template-columns: 1fr 1fr 1fr;*/

    grid-template-rows: 1fr 2fr 1fr;
    /* vous pouvez simplifier cette propriété en grid-template-rows: 1fr 1fr 1fr;*/

    /* vous pouvez simplifier ces 2 proprietés en grid-gap: 5px;*/
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: auto;
    height: 500px;
    width: 700px;
}

.conteneur-grid-trois div {
    padding: 20px 0px;
    background-color: gold;
    border: 2px solid RGB(120, 40, 160);
}



.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: grey;
    width: 70%;
    height: 500px;
    margin: 20px auto;


}


.one {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: hsla(295, 100%, 50%, 0.2);
}

.two {
    grid-column: 2 /4;
    grid-row: 1 / 3;
    background-color: hsla(195, 100%, 50%, 0.4);
}

.three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: hsla(195, 100%, 50%, 0.6);
}

.four {
    grid-column: 3;
    grid-row: 3;
    background-color: hsla(195, 100%, 50%, 0.8);
}

.five {
    grid-column: 2;
    grid-row: 3/5;
    background-color: hsla(195, 100%, 50%, 1);
}

.six {
    grid-column: 3;
    grid-row: 4;
    background-color: hsla(195, 100%, 50%);
}

.wrapper-two {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 70%;
    height: 500px;
    margin: 20px auto;
    color: grey;
    font-size:5em;
}

/* grid-area simplifie les propriétés grid-template-columns et grid-template-rows */
/* elle se lise dans le sens des aiguilles d'une montre*/
/* ligne rangée/ligne colonne/ligne rangée/ligne colonne- */
.wp-2-div1 {
    grid-area: 1 / 5 / 7 / 7;
    background: url(images/empty-ski-lift-in-the-ski-resort.jpg) no-repeat;
    background-size: cover;
}

.wp-2-div2 {
    grid-area: 1 / 1 / 7 / 3;
    background: url(images/high-angle-shot-of-beautiful-mountain-range-covered-with-snow-under-the-cloudy-sky.jpg) no-repeat;
    background-size: cover;
}

.wp-2-div3 {
    grid-area: 3 / 2 / 5 / 6;
    background-color: pink;
    color: blue;

}

.wp-2-div4 {
    grid-area: 1 / 3 / 3 / 5;
    background-color: red;
}

.wp-2-div5 {
    grid-area: 5 / 3 / 7 / 5;
    background-color: orange;
}

